[package]
org = "ballerinax"
name = "activemq.driver"
version = "@toml.version@"
authors = ["Ballerina"]
keywords = ["Vendor/ActiveMQ", "Area/Communication", "Type/Driver"]
repository = "https://github.com/ballerina-platform/module-ballerinax-activemq.driver"
license = ["Apache-2.0"]
distribution = "2201.11.0"

[platform.java21]
graalvmCompatible = true

[[platform.java21.dependency]]
groupId = "org.apache.activemq"
artifactId = "activemq-client"
version = "@activemq.client.version@"
path = "./lib/activemq-client-@activemq.client.version@.jar"

[[platform.java21.dependency]]
groupId = "org.apache.geronimo.specs"
artifactId = "geronimo-j2ee-management_1.1_spec"
version = "@geronimoj2ee.spec.version@"
path = "./lib/geronimo-j2ee-management_1.1_spec-@geronimoj2ee.spec.version@.jar"

[[platform.java21.dependency]]
groupId = "org.fusesource.hawtbuf"
artifactId = "hawtbuf"
version = "@hawtbuf.version@"
path = "./lib/hawtbuf-@hawtbuf.version@.jar"

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "activemq.driver-native"
version = "@toml.version@"
path = "../native/build/libs/activemq.driver-native-@project.version@.jar"
